<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil [AppareilName]="App1" [AppareilStatus]=" 'Machine a laver' " ></app-appareil>
        <app-appareil [AppareilName]="App2"[AppareilStatus]= "'Télévision'"></app-appareil>
        <app-appareil [AppareilName]="App3"[AppareilStatus]=" 'ordinateur'"></app-appareil>
        <button type="button" class="btn btn-success" [disabled]=!isAuth (click)="onAllumer()">tout allumé</button>

      </ul>

    </div>

  </div>



</div>