<div class="col-xs-12">
    <h2>Mes appareils</h2>
   <p>Mise à jour: {{lastUpdate | async | date:'yMMMMEEEEd'| uppercase }}</p>
    <ul class="list-group">
      <app-appareil *ngFor="let appareil of appareils; let i = index"
      [indexOfAppareil]="i"
      [AppareilName]="appareil.name" [AppareilStatus]="appareil.status" ></app-appareil>
      <button type="button" class="btn btn-success"  (click)="onAllumer()">tout allumé</button>
      <!--<button type="button" class="btn btn-success" [disabled]=!isAuth (click)="onAllumer()">tout allumé</button>
      -->
    
      <button type="button" style="margin-left: 4px" class="btn btn-danger"  (click)="onEteindre()">tout eteindre</button>
    
    </ul>
  </div>
